<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.transaction.domain.board.BoardMapper">
    <insert id="setBoard">
        INSERT INTO DB_TEST2.board SET
        title = #{title},
        content = #{content}
    </insert>

</mapper>